<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.wms.dao.DepartmentDao">
    <resultMap id="departmentMap" type="com.jay.wms.entity.Department">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="create_by" property="createBy"/>
        <result column="is_admin" property="isAdmin"/>
    </resultMap>
    <sql id="columnList">
        id,
        code,
        name,
        create_by
    </sql>
    <sql id="condition">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null">
                and code = #{code}
            </if>
            <if test="name != null">
                and name like '%'||#{name}||'%'
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
        </trim>
    </sql>
    <select id="query" parameterType="com.jay.wms.entity.Department" resultMap="departmentMap   ">
        SELECT
        <include refid="columnList"/>
        FROM BASE_DEPARTMENT
        <include refid="condition"/>
    </select>
    <insert id="add" parameterType="com.jay.wms.entity.Department" keyColumn="id" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO BASE_DEPARTMENT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null ">
                code,
            </if>
            <if test="name != null ">
                name,
            </if>
            <if test="createBy != null ">
                create_by
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null ">
                #{code},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="createBy != null ">
                #{createBy}
            </if>
        </trim>
    </insert>
    <select id="queryByUserId" parameterType="String" resultMap="departmentMap">
        SELECT D.*,U.IS_ADMIN FROM BASE_USER_DEPT_REL U
        LEFT JOIN BASE_DEPARTMENT D on D.id = U.DEPT_ID
        WHERE U.USER_ID = #{0}
    </select>

    <insert id="addUserRel" parameterType="java.util.Map">
        INSERT INTO BASE_USER_DEPT_REL
        (DEPT_ID,USER_ID,IS_ADMIN)
        VALUES
        (#{id},#{userId},#{isAdmin})
    </insert>
</mapper>